numpy
pickle-mixin
streamlit
seaborn
pandas
matplotlib
scikit_learn
tensorflow
keras
opencv_python_headless
langchain==0.0.350
langchain-google-genai
python-dotenv
Flask
Flask-CORS
requests
Pillow
gunicorn